root {
    /* ... */
    
    /* Breadcrumb */
	--breadcrumb-text-color: ;
	--breadcrumb-text-color-hover: ;
	--breadcrumb-separator: '>';
	--breadcrumb-separator-color: ;
	--breadcrumb-toggle: 1px;
}